<script type='text/javascript'>
'use strict';
angular.module('lightApp').controller('BlogCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, toaster, modelDataService) {
    $scope.blogPosts = [
        {
            blogPostId: 1,
            title: 'This is the title of the first post',
            subtitle: 'I am considering adding a post subtitle, for additional info too large to include in the title.',
            content: 'This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. ',
            createById: 'stevehu',
            createDate: '3/29/2015'
        }, {
            blogPostId: '2',
            title: 'And here... you\'ll find the second post!',
            subtitle: 'The second post is the second post... after the first, and behind the third.',
            content: 'This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. This is the content. ',
            createById: 'NicholasAzar',
            createDate: '3/29/2015'
        }
        ];
    $scope.itemsPerPage = 5;

    $scope.goToBlogPost = function(blogPostId) {
        $location.path("/page/com-networknt-light-v-blog-post-view/" + blogPostId);
    };

    /*$scope.blogPosts = [];
    // Pagination variables;
    $scope.currentPage = 1;

    $scope.noOfPages = $scope.blogPosts.length / $scope.itemsPerPage;

    $scope.$watch('currentPage', function() {
        var begin = ($scope.currentPage - 1) * $scope.itemsPerPage;
        var end = begin + $scope.itemsPerPage;

        $scope.paged = {
            blogPosts: $scope.blogPosts.slice(begin, end)
        }
    });

    $scope.getBlogPosts = {
        category : 'blog',
        name : 'getBlogPosts',
        readOnly: true
    };

    $scope.fetchResult = function () {
        $http.post('api/rs', $scope.getBlogPosts)
            .success(function (result, status, headers, config) {
                $scope.blogPosts = result;
                console.log("blogPosts returned:", $scope.blogPosts);
                $scope.paged = {
                    blogPosts: $scope.blogPosts.slice(0,  $scope.itemsPerPage)
                };
            })
    };
    $scope.fetchResult();

    $scope.toggle = function(scope) {
        console.log(scope);
        scope.toggle();
    };

    var getRootNodesScope = function() {
        return angular.element(document.getElementById("tree-root")).scope();
    };

    $scope.collapseAll = function() {
        var scope = getRootNodesScope();
        console.log(scope);
        scope.collapseAll();
    };

    $scope.expandAll = function() {
        var scope = getRootNodesScope();
        console.log(scope);
        scope.expandAll();
    };

    $scope.treeFilter = $filter('uiTreeFilter');

    $scope.supportedFields = ['id', 'desc'];
    */
}]);
</script>
<div class="container" data-ng-controller="BlogCtrl">
    <div class="row">
        <div class="col-md-4 col-lg-4 component-header-left">
            <h1><a href="/">Blog Component</a></h1>
        </div>
        <div class="col-md-3 col-lg-3 component-header-right">
            <span>
                <span class="glyphicon glyphicon-search forum-header-search-icon"></span><input ng-model="pattern" placeholder="Search"/>
            </span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-left:0px;">
                    <div class="post-preview" ng-repeat="post in blogPosts">
                        <a href ng-click="goToBlogPost({{post.blogPostId}})">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.subtitle}}</h3>
                        </a>
                        <p class="post-meta">Posted by <user id="{{post.createById}}"></user> on {{post.createDate}}</p>
                        <hr/>
                    </div>
                    <ul class="pager" ng-class="{'disabled': blogPosts.length <= itemsPerPage}">
                        <li class="next">
                            <a href="#">Older Posts <i class="fa fa-arrow-right"></i></a>
                        </li>
                    </ul>
                    <!--<pagination ng-model="currentPage" total-items="blogPosts.length" items-per-page="itemsPerPage" style="float:right;"></pagination>-->
                </div>
            </div>
        </div>
    </div>
</div>
