<div class="commenter-container panel-body">
    <form name="form" ng-submit="action(child)" class="form-inline" ng-hide="toggled">
        <div class="form-group">
            <input ng-model="child.name" class="form-control" placeholder="github username"
                   ng-keydown="selected=false" type="text" required />
            <typeahead class="typeahead" model="items" prompt="Start typing a US state" />
        </div>
        <div class="form-group">
            <textarea ng-model="child.text" value="your comment.." class="form-control" rows="1"
                      ng-minlength="5" required></textarea>
        </div>
        <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div style="position:relative; width:100%;">
        <button ng-if="comment.out_HasComment" class="fa-lg clear-square fa"
                ng-class="{'glyphicon glyphicon-minus': !collapsed, 'glyphicon glyphicon-plus': collapsed}"
                title="toggle children" ng-click="collapse()" style="padding:0px; margin:0px; border:0px; height:0%;"></button>
        <div class="label pull-right pointer" ng-click="toggle()"
              ng-class="{'label-success': toggled, 'label-warning': !toggled}" style="position:absolute; right:2em; top:50%; margin-top:-8px;">{{ btnText }}</div>
    </div>
</div>
