<script type='text/javascript'>
    angular.module('lightApp').controller('forumPostsCtrl', ['$scope', '$http', '$location', 'authService', '$filter', 'toaster', 'modelDataService', 'forumRouting', 'bfnBackend', function ($scope, $http, $location, authService, $filter, toaster, modelDataService, forumRouting, bfnBackend) {
        if (modelDataService.getModelData() == null) {
            forumRouting.forumHome();
        }
        $scope.itemsPerPage = 5;

        $scope.initPage = function (forum) {
            $scope.forum = forum;
            $scope.forumPosts = [];
            $scope.currentPageNumber = 1;
            $scope.allowPost = false;
            $scope.total = 0;
            $scope.fetchPosts();
        };

        $scope.fetchPosts = function () {
            bfnBackend.getPosts("forum", "example", $scope.forum["@rid"], $scope.currentPageNumber, $scope.itemsPerPage, "desc", "createDate").then(function(result) {
                $scope.forumPosts = result.data.posts;
                $scope.allowPost = result.data.allowPost;
                $scope.total = result.data.total;
           });
        }

        // Routes the user to the post editor to add a post.
        $scope.addPost = function () {
            forumRouting.addPost($scope.forum);
        };

        $scope.initPage(modelDataService.getModelData().forum);

    }]);
</script>
<div class="container" ng-controller="forumPostsCtrl">
    <div class="row">
        <div class="col-md-4 col-lg-4" style="float:left;">
            <h2 style="display:inline">Forum Component</h2>
        </div>
        <div class="col-md-3 col-lg-3" style="float:right;">
            <span class="glyphicon glyphicon-search" style="padding-right:10px"></span><input ng-model="pattern" placeholder="Search"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li><a href="/page/com-networknt-light-v-forum-home">Forum</a></li>
                <li class="active">Posts</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-heading clearfix" style="line-height:32px;">
                    {{forum.forumId}}
                    <button class="btn btn-info pull-right" ng-click="addPost()"><span class="glyphicon glyphicon-plus" style="padding-right:5px"></span>Post</button>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr ng-if="forumPosts == null || forumPosts.length == 0">
                                <td colspan="4" ng-class="info"><span class="glyphicon glyphicon-warning-sign" style="padding-right:5px;"></span>No posts.</td>
                            </tr>
                        </tbody>
                        <tbody ng-repeat="post in forumPosts | filter: filter | orderBy: sort.sortedBy">
                            <tr style="height:100px;">
                                <td style="position:relative; width:20%;">
                                    <div style="height:100%; float:left; display:block;">
                                        <a href ng-click="view(post, false)">{{post.title}}</a><br />
                                        By: <user id="{{post.in_Create[0].userId}}" /><br />
                                        On: {{post.createDate | date: 'MMMM dd, yyyy'}}<br/>
                                        Replies: {{post.out_HasComment.length || 0}}
                                    </div>
                                </td>
                                <td style="position:relative;">
                                    <div style="padding-left:10px; height:100%; float:left; display:block;">
                                        {{post.content}}
                                    </div>
                                    <span style="position:absolute;right:10px;bottom:10px;">
                                        <a href ng-show="canCurrentUserEdit(post)" ng-click="view(post, true)" style="padding-right:5px; padding-left:5px;"><span class="glyphicon glyphicon-pencil"></span></a>
                                        <a href ng-show="canCurrentUserDelete(post)" ng-click="del(post)" style="padding-right:5px; padding-left:5px;"><span class="glyphicon glyphicon-remove"></span></a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->
