<script type='text/javascript'>
'use strict';
angular.module('lightApp').controller('forumHomeCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', 'bfnBackend', 'forumRouting', function ($scope, $http, $location, $filter, toaster, modelDataService, bfnBackend, forumRouting) {
    $scope.itemsPerPage = 6;
    $scope.currentPage = 1;
    $scope.forums = [];
    $scope.pagedForums = [];

    // Frontend pagination
    $scope.pageChanged = function() {
        var begin = ($scope.currentPage - 1) * $scope.itemsPerPage;
        var end = begin + $scope.itemsPerPage;
        if ($scope.forums != null) {
            $scope.pagedForums = $scope.forums.slice(begin, end);
        }
    };

    bfnBackend.getTree("forum", "example").then(function(result) {
        $scope.forums = result.data;
        $scope.pageChanged();
   });

    $scope.goToForum = function(forum) {
        forumRouting.forumPosts(forum);
    };
}]);
</script>
<div class="container" data-ng-controller="forumHomeCtrl">
    <div class="row">
        <div class="col-md-4 col-lg-4 component-header-left">
            <h1><a href="/">Forum Component</a></h1>
        </div>
        <div class="col-md-3 col-lg-3 component-header-right">
            <span>
                <span class="glyphicon glyphicon-search forum-header-search-icon"></span><input ng-model="pattern" placeholder="Search"/>
            </span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ol class="breadcrumb">
                <li class="active">Forum</li>
            </ol>

            <node-tree ng-model-node="pagedForums"></node-tree>
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <pagination ng-model="currentPage" total-items="(forums | filter:pattern).length" items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>
                    </center>
                </div>
            </div>

        </div>
    </div>
</div>
