<div class="panel panel-default comment">
    <div class="panel-heading comment-header">
        <h4 class="comment-user">
            <span class="comment-username" ng-if="!comment.profileUrl">{{comment.createUserId}}</span>
            <a class="comment-username" ng-if="comment.profileUrl" ng-href="{{comment.profileUrl}}"
               title="{{comment.createUserId}}">{{comment.createUserId}}</a>
            <small class="comment-date" ng-if="comment.createDate" title="{{comment.createDate | calendar}}">
                {{comment.createDate | timeago}}
            </small>
        </h4>
        <img class="comment-avatar" ng-if="comment.avatarUrl" ng-src="{{comment.avatarUrl}}"
             alt="{{comment.name}}" />
    </div>
    <div class="comment-body panel-body" ng-bind-html="comment.content"></div>
    <div comments-transclude></div>
    <commenter action="addChildComment" toggle="true"></commenter>
</div>
