<script type='text/javascript'>
    'use strict';

    angular.module('lightApp').controller('com.networknt.light.c.ForumCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, toaster, modelDataService) {
    $scope.getForum = {
        category : 'forum',
        name : 'getForumTree',
        readOnly: true
    };

    $scope.fetchResult = function () {
        $http.post('api/rs', $scope.getForum)
            .success(function (result, status, headers, config) {
                $scope.forums = result;
                console.log("forums returned:", $scope.forums);
            })
    };
    $scope.fetchResult();

    $scope.toggle = function(scope) {
        console.log(scope);
        scope.toggle();
    };

    var getRootNodesScope = function() {
        return angular.element(document.getElementById("tree-root")).scope();
    };

    $scope.collapseAll = function() {
        var scope = getRootNodesScope();
        console.log(scope);
        scope.collapseAll();
    };

    $scope.expandAll = function() {
        var scope = getRootNodesScope();
        console.log(scope);
        scope.expandAll();
    };

    $scope.treeFilter = $filter('uiTreeFilter');

    $scope.supportedFields = ['id', 'desc'];

    $scope.goToForum = function(id) {
        modelDataService.setModelData({
            forumId: id
        });
        $location.path("/page/com-networknt-light-v-forum-post");
    };

    }]);
</script>
<div class="container" data-ng-controller="com.networknt.light.c.ForumCtrl">
    <div class="row">
        <div class="col-md-4 col-lg-4" style="float:left;">
            <h2 style="display:inline">Forum Component</h2>
        </div>
        <div class="col-md-3 col-lg-3" style="float:right;">
            <span class="glyphicon glyphicon-search" style="padding-right:10px"></span><input ng-model="pattern" placeholder="Search"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ol class="breadcrumb">
                <li class="active">Forum</li>
            </ol>
            <!--
            <div style="padding:15px">
                <a href="" class="btn btn-default pull-right" ng-click="collapseAll()"><span class="glyphicon glyphicon-resize-small"></span></a>
                <a href="" class="btn btn-default pull-right" ng-click="expandAll()"><span class="glyphicon glyphicon-resize-full"></span></a>
            </div>
            -->
            <table class="table-bordered" width="100%">
                <tbody ng-repeat="forum in forums">
                    <tr>
                        <td>
                            <a href ng-click="goToForum(forum.forumId)"  ng-bind-html="forum.forumId | highlight:pattern | trust"></a>
                            <small ng-bind-html="forum.desc | highlight:pattern | trust"></small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
