<div class="panel panel-default comment">
    <div class="panel-heading comment-header">
        <h4 class="comment-user">

            <span class="comment-username">@{{comment.in_Create[0].userId}}</span>
            <small class="comment-date" ng-if="comment.createDate" title="{{comment.createDate | calendar}}">
                {{comment.createDate | timeago}}
            </small>
        </h4>
        <button ng-if="comment.children" class="fa-2x clear-square fa"
                ng-class="{'glyphicon glyphicon-minus': !collapsed, 'glyphicon glyphicon-plus': collapsed}"
                title="toggle children" ng-click="collapse()" style="float:right;"></button>
    </div>
    <div class="comment-body panel-body" ng-bind-html="comment.comment"></div>
    <div comments-transclude></div>
    <commenter action="submitComment" toggle="true"></commenter>
</div>
