<script type='text/javascript'>
    angular.module('lightApp').controller('com.networknt.light.ForumPostViewCtrl', ['$scope', '$http', '$location', 'authService', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, authService, $filter, toaster, modelDataService) {

        $scope.post = modelDataService.getModelData().post;
        $scope.categoryId = modelDataService.getModelData().categoryId;
        $scope.editing = modelDataService.getModelData().editing;
        $scope.postTitle = $scope.post.title;
        $scope.postContent = $scope.post.content;
        $scope.comments = [];

        $scope.getComments = {
            category: 'comment',
            name: 'getCommentTree',
            readOnly: true,
            data: {}
        };

        $scope.addComment = {
            category: 'comment',
            name: 'addComment',
            readOnly: false,
            data: {}
        };

        $scope.editPost = {
            category: 'post',
            name: 'updPost',
            readOnly: false,
            data: {}
        };

        $scope.displayAddCommentRow = false;

        $scope.toggleComment = function() {
            $scope.displayAddCommentRow = !$scope.displayAddCommentRow;
        };

        $scope.getCurrentUserId = function () {
            return authService.authentication.currentUser.userId;
        };

        $scope.fetchComments = function () {
            $scope.getComments.data["host"] = $scope.post.host;
            $scope.getComments.data["@rid"] = $scope.post["@rid"];
            $http.post('api/rs', $scope.getComments)
                .success(function (result, status, headers, config) {
                    $scope.comments = result.out_HasComment;
                    console.log("Fetching Comments Success:", $scope.comments);
                })
                .error(function (result, status, headers, config) {
                    // error fetching comments, set comments to empty list.
                    $scope.comments = [];
                });
        };

        $scope.fetchComments();

        $scope.submitComment = function (child) {
            console.log("child?", child);
            var commentContent = document.getElementById("newUserComment").value;
            console.log("adding comment", commentContent);
            if (commentContent != null && commentContent.length > 0) {
                $scope.addComment.data["host"] = $scope.post.host;
                $scope.addComment.data["@rid"] = $scope.post["@rid"];
                $scope.addComment.data.comment = commentContent;
                $http.post('api/rs', $scope.addComment)
                    .success(function (result, status, headers, config) {
                        $scope.fetchComments();
                        document.getElementById("newUserComment").value = "";
                        $scope.toggleComment();
                    })
                    .error(function (result, status, headers, config) {
                        // TODO: think of what to do here...
                        console.log("submitComment error, result:", result);
                    });
            }
        };

        $scope.submitEditPost = function () {
            console.log("location:", $location);
            if ($scope.postContent != null && $scope.postContent.length > 0 && $scope.postTitle != null && $scope.postTitle.length > 0) {
                $scope.editPost.data["@rid"] = $scope.post["@rid"];
                $scope.editPost.data["id"] = $scope.post.id;
                $scope.editPost.data["content"] = $scope.postContent;
                $scope.editPost.data["title"] = $scope.postTitle;
                console.log("posting...:", $scope.editPost);
                $http.post('api/rs', $scope.editPost)
                    .success(function (result, status, headers, config) {
                        console.log("success post:", $scope.post);
                        modelDataService.setModelData({
                            categoryId: $scope.categoryId,
                            post: $scope.post,
                            editing: $scope.editing
                        });
                        $location.path("/page/com-networknt-light-v-forum-post");
                    });
            }
        };

        $scope.toggleEditPost = function () {
            $scope.editing = !$scope.editing;
        };
    }]);
</script>
<div class="container" ng-controller="com.networknt.light.ForumPostViewCtrl">
    <h2>
        <div ng-if="editing">
            <textarea type="text" spellcheck="true" style="width:100%;" ng-model="$parent.postTitle"></textarea>
        </div>
        <div ng-if="!editing">{{postTitle}}</div>
    </h2>
    <p>By: {{post.in_Create[0].userId}}. Published on: {{post.createDate | date:'MMMM dd, yyyy'}}</p>
    <div ng-if="editing">
        <!-- Content within textarea tags must be kept without formatting as tabs and newlines will show. -->
        <textarea type="text" spellcheck="true" style="width:100%;" ng-model="$parent.postContent"></textarea>
        <div>
            <button class="btn btn-success" ng-click="submitEditPost()">Submit</button>
            <button class="btn btn-danger" ng-click="toggleEditPost()">Cancel</button>
        </div>
    </div>
    <pre ng-if="!editing">{{postContent}}</pre>

    <br />
    <label>Replies:</label>
    <div>
        <comments comment-data="comments" depth-limit="3"></comments>
        <p class="add_comment">
            <commenter action="submitComment" toggle="true"></commenter>
        </p>
    </div>
    <!--
    <table class="table table-striped table-bordered">
        <tbody>
            <tr ng-if="comments.length == 0" style="height:100px;">
                <td colspan="2">No replies yet... Be the first!</td>
            </tr>
            <tr ng-repeat="comment in comments" style="height:100px;">
                <td width="1%">
                    <label>{{comment.createUserId}}:</label>
                </td>
                <td style="position:relative;">
                    <comment>{{comment.content}}</comment>
                    <span style="position:absolute;right:10px;bottom:10px;">
                        <span class="glyphicon glyphicon-share-alt" style="color:rgb(91,192,222); float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-down" style="color:red; float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-up" style="color:green; float:right; width:20px;"></span>
                    </span>
                </td>
            </tr>
            -->
            <!-- The rest of the current post content... -->
            <!-- Then at the end -->
            <!--
            <tr style="height:100px;" ng-show="displayAddCommentRow">
                <td width="1%">
                    <label>{{getCurrentUserId()}}:</label>
                </td>
                <td style="position:relative;">
                    <comment><textarea id="newUserComment" type="text" spellcheck="true" style="width:100%;"/></comment>
                    <span style="position:absolute;right:10px;bottom:10px;">
                        <span class="glyphicon glyphicon-share-alt" style="color:rgb(91,192,222); float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-down" style="color:red; float:right; width:20px;"></span>
                        <span class="glyphicon glyphicon-thumbs-up" style="color:green; float:right; width:20px;"></span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="pull-right">
        <button class="btn btn-info" ng-click="toggleComment()" style="float:right;" ng-show="!displayAddCommentRow">
            <span class="glyphicon glyphicon-plus" style="padding-right:5px;"></span>
            Reply
        </button>
        <button class="btn btn-danger" ng-click="toggleComment()" style="float:right;" ng-show="displayAddCommentRow">Cancel</button>
        <button class="btn btn-success" ng-click="submitComment()" style="float:right;" ng-show="displayAddCommentRow">Submit</button>
    </div>
    -->
</div> <!-- /container -->


