<script type='text/javascript'>
'use strict';
angular.module('lightApp').controller('BlogPostCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', '$routeParams', function ($scope, $http, $location, $filter, toaster, modelDataService, $routeParams) {
    $scope.blogPostId = $routeParams.blogPostId;
    $scope.post = {};

    $scope.getBlogPost = {
        category : 'blog',
        name : 'getBlogPost',
        readOnly: true,
        data: {
            host: 'example',
            blogId: $scope.blogPostId
        }
    };

    $scope.fetchResult = function () {
        $http.post('api/rs', $scope.getBlogPost)
            .success(function (result, status, headers, config) {
                $scope.post = result;
                console.log("Post returned:", result);
            })
            .error(function (result, status, headers, config) {
                console.log("getBlogPost error:", result);
            })
    };
    $scope.fetchResult();
}]);
</script>
<div class="container" data-ng-controller="BlogPostCtrl">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <h1>{{post.title}}</h1>
                <h2 class="subheading">{{post.summary}}</h2>
                <span class="meta">Posted by <user id="{{post.createById}}"></user> on {{post.createDate}}</span>
            </div>
        </div>
    </div>
    <br />
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">{{post.content}}</div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="pager" style="float:left;">
                        <li class="next">
                            <a href="/"><i class="fa fa-arrow-left"></i> Go Back</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>

</div>
