<script type='text/javascript'>
'use strict';
angular.module('lightApp').controller('BlogCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', '$routeParams', 'authService', function ($scope, $http, $location, $filter, toaster, modelDataService, $routeParams, authService) {

    $scope.blogId = $routeParams.blogId;
    console.log("blogId", $scope.blogId);
    $scope.blogPosts = [];
    $scope.currentPage = 1;
    $scope.itemsPerPage = 5;
    $scope.noOfPages = $scope.blogPosts.length / $scope.itemsPerPage;

    $scope.goToBlogPost = function(postId) {
        $location.path("/page/com-networknt-light-v-blog-post-view/" + postId);
    };

    $scope.$watch('currentPage', function() {
        var begin = ($scope.currentPage - 1) * $scope.itemsPerPage;
        var end = begin + $scope.itemsPerPage;

        $scope.paged = {
            blogPosts: $scope.blogPosts.slice(begin, end)
        }
    });

    $scope.getBlogPosts = {
        category : 'blog',
        name : 'getBlogPost',
        readOnly: true,
        data: {
            host: 'example',
            blogId: $scope.blogId
        }
    };

    $scope.fetchResult = function () {
        $http.post('api/rs', $scope.getBlogPosts)
            .success(function (result, status, headers, config) {
                $scope.blogPosts = result;
                console.log("blogPosts returned:", result);
                $scope.paged = {
                    blogPosts: $scope.blogPosts.slice(0,  $scope.itemsPerPage)
                };
            })
    };
    $scope.fetchResult();

    console.log("userRoles", authService.authentication.currentUser.roles);
    $scope.canUserAddPost = false;
    for (var i = 0; i < authService.authentication.currentUser.roles.length; i++) {
        // TODO: add test for current user matching blog creator.
        if (authService.authentication.currentUser.roles[i] == "owner" || authService.authentication.currentUser.roles[i] == "blogAdmin") {
            $scope.canUserAddPost = true;
            break;
        }
    }

    $scope.post = function () {
        var modelData = modelDataService.getModelData();
        modelDataService.setModelData(null); // reset the modelDataService variable.
        $location.path("/form/com.networknt.light.blog.post.add/" + $scope.blogId);
    };
}]);
</script>
<div class="container" data-ng-controller="BlogCtrl">
    <div class="row">
        <div class="col-md-4 col-lg-4 component-header-left">
            <h1><a href="/">Blog Component</a></h1>
        </div>
        <div class="col-md-3 col-lg-3 component-header-right">
            <span>
                <span class="glyphicon glyphicon-search forum-header-search-icon"></span><input ng-model="pattern" placeholder="Search"/>
            </span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-left:0px;">
                    <div class="post-preview" ng-repeat="post in paged.blogPosts | filter:pattern">
                        <a href ng-click="goToBlogPost(&quot;{{post.postId}}&quot;)">
                            <h2 class="post-title">{{post.title}}</h2>
                            <h3 class="post-subtitle">{{post.content}}</h3>
                        </a>
                        <p class="post-meta">Posted by <user id="{{post.in_Create[0].userId}}"></user> on {{post.createDate | calendar}}</p>
                        <hr/>
                    </div>
                    <!--
                    <ul class="pager" ng-class="{'disabled': blogPosts.length <= itemsPerPage}">
                        <li class="next">
                            <a href="#">Older Posts <i class="fa fa-arrow-right"></i></a>
                        </li>
                    </ul>
                    -->
                    <pagination ng-model="currentPage" total-items="(blogPosts | filter:pattern).length" items-per-page="itemsPerPage" style="float:left;"></pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="canUserAddPost">
        <button class="btn btn-info pull-right" ng-click="post()"><span class="glyphicon glyphicon-plus" style="padding-right:5px"></span>Post</button>
    </div>
</div>
