<script type='text/javascript'>
angular.module('lightApp').controller('BlogPostEditorCtrl', ['$scope', '$filter', 'toaster', 'modelDataService', 'bfnBackend', 'blogRouting', function ($scope, $filter, toaster, modelDataService, bfnBackend, blogRouting) {
    if (modelDataService.getModelData() == null) {
        blogRouting.blogHome();
    }
    $scope.blog = modelDataService.getModelData().blog;
    $scope.post = modelDataService.getModelData().post;
    console.log("blog", $scope.blog, "post", $scope.post);
    $scope.postContent = "";
    $scope.postTitle = "";
    $scope.postSummary = "";
    $scope.postTags = "";
    $scope.postSource = "";
    if ($scope.post != null) {
        $scope.postContent = $scope.post.content;
        $scope.postTitle = $scope.post.title;
        $scope.postSummary = $scope.post.summary;
        $scope.postTags = $scope.post.tags;
        $scope.postSource = $scope.post.source;
    }

    $scope.submitPost = function () {
        if ($scope.post == null && $scope.blog != null) {
            bfnBackend.addPost("blog", "example", $scope.blog.categoryId, $scope.postTitle, $scope.postContent, $scope.postTags, $scope.postSource, $scope.postSummary).then(function (result) {
                blogRouting.blogHome();
            });
        } else if ($scope.post != null && $scope.blog != null) {
            console.log("Editing post");
            bfnBackend.updatePost("blog", "example", $scope.post["@rid"], $scope.postTitle, $scope.postContent, $scope.postTags, $scope.postSource, $scope.postSummary).then(function (result) {
                blogRouting.blogPost($scope.blog, $scope.post["@rid"]);
            });
        }
    };
}]);
</script>
<div class="container" data-ng-controller="BlogPostEditorCtrl">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    Network NT Official Blogs
                </h1>
                <p>
                    Learn more about the Light Framework.
                </p>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column text-center">
            <h2>Post Editor</h2>
            <input name="title" type="text" placeholder="Title" ng-model="postTitle" style="margin-bottom:10px; width:50%; height:40px;"/><br />
            <div class="row clearfix">
                <div class="col-md-12 column text-center">
                    <textarea name="postSummary" type="text" placeholder="Summary" ng-model="postSummary" style="margin-top:10px; width:100%; height:40px;"></textarea>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column text-center">
                    <textarea ng-model="postContent" placeholder="Content" markdownedit></textarea>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column text-center">
                    <input name="postSource" type="text" placeholder="Source" ng-model="postSource" style="margin-top:10px; width:50%; height:40px;"/>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column text-center">
                    <input name="postTags" type="text" placeholder="Tags" ng-model="postTags" style="margin-top:10px; width:50%; height:40px;"/>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column text-center">
                    <h2>Preview</h2>
                    <markdown bind-from="postContent"></markdown>
                </div>
            </div>
            <hr/>
            <button ng-click="submitPost()" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>
