<script type='text/javascript'>
'use strict';
angular.module('lightApp').controller('BlogPostCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', '$routeParams', 'blogBackend', 'postBackend', function ($scope, $http, $location, $filter, toaster, modelDataService, $routeParams, blogBackend, postBackend) {
    $scope.post = null;
    $scope.blog = null;
    $scope.markedContent = "";
    $scope.allowEdit = false;
    $scope.canUserUpvote = true;
    $scope.canUserDownVote = true;
    $scope.host = "example";

    $scope.fetchPost = function (postRid) {
        postBackend.getPost($scope.host, postRid).then(function(result) {
            $scope.post = result.data.posts[0];
            $scope.allowEdit = result.data.allowEdit;
            $scope.markedContent = marked($scope.post.content);
        });
    };

    if (modelDataService.getModelData() != null && modelDataService.getModelData().blog != null) {
        $scope.blog = modelDataService.getModelData().blog;
    } else if ($routeParams.blogRid != null) {
        blogBackend.getBlog($scope.host, $routeParams.blogRid).then(function (result) {
            $scope.blog = result.data.bfn;
        });
    }

    // If the postRid & blog are available in modelDataService, use that.
    if (modelDataService.getModelData() != null && modelDataService.getModelData().postRid != null) {
        $scope.fetchPost(modelDataService.getModelData().postRid);
    } else if ($routeParams.postRid != null) {
        $scope.fetchPost($routeParams.postRid);
    }

    $scope.goBack = function() {
        modelDataService.setModelData({
            "blog": $scope.blog
        });
        $location.path("/page/com-networknt-light-v-blog-view/" + $scope.blog["@rid"]);
    };


    $scope.upvote = function () {
        postBackend.upvote("example", $scope.post["@rid"]);
        $scope.canUserUpvote = false;
        $scope.canUserDownVote = true;
    };

    $scope.downvote = function () {
        postBackend.downvote("example", $scope.post["@rid"]);
        $scope.canUserUpvote = true;
        $scope.canUserDownVote = false;
    };

    $scope.editPost = function () {
        $location.path("/page/com-networknt-light-v-blog-post-editor/" + $scope.post.parentId + "/" + $scope.post.postId);
    };


}]);
</script>
<div class="container" data-ng-controller="BlogPostCtrl">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <h1>{{post.title}}</h1>
                <h2 class="subheading">{{post.summary}}</h2>
                <span class="meta">Posted by <user id="{{post.in_Create[0].userId}}"></user> {{post.createDate | calendar}}</span>
            </div>
        </div>
    </div>
    <br />
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <markdown bind-from="post.content"></markdown>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="pager" style="float:left;">
                        <li class="next">
                            <button class="btn btn-default" ng-click="goBack()"><i class="fa fa-arrow-left" style="padding-right:5px;"></i> Go Back</button>
                        </li>
                    </ul>
                    <div class="vote" style="right:8px; bottom:0px; position:absolute;">
                        <button class="btn btn-success" ng-click="upvote()" ng-disabled="!canUserUpvote" style="margin-left: 5px;">
                            <i class="fa fa-thumbs-o-up fa-lg"></i>
                        </button>
                        <button class="btn btn-danger" ng-click="downvote()" ng-disabled="!canUserDownVote">
                            <i class="fa fa-thumbs-o-down fa-lg"></i>
                        </button>
                        <button class="btn btn-info" ng-click="editPost()" ng-if="allowEdit">
                            <i class="fa fa-pencil fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>

</div>
