<script type='text/javascript'>
'use strict';
angular.module('lightApp').controller('BlogPostCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', '$routeParams', function ($scope, $http, $location, $filter, toaster, modelDataService, $routeParams) {
    $scope.postId = $routeParams.postId;

    $scope.post = {};

    $scope.getBlogPost = {
        category : 'post',
        name : 'getPost',
        readOnly: true,
        data: {
            host: 'example',
            postId: $scope.postId
        }
    };





    $scope.fetchResult = function () {
        $http.post('api/rs', $scope.getBlogPost)
            .success(function (result, status, headers, config) {
                $scope.post = result.posts[0];
                console.log("Post returned:", result);
            })
            .error(function (result, status, headers, config) {
                console.log("getBlogPost error:", result);
            })
    };
    $scope.fetchResult();

    $scope.goBack = function() {
        $location.path("/page/com-networknt-light-v-blog-view/" + $scope.post.parentId);
    };

    $scope.canUserUpvote = true;
    $scope.upvote = function () {
        console.log('$scope.post', $scope.post);
        $scope.upvoteContent = {
            category: 'post',
            name: 'upPost',
            readOnly: false,
            data: {
                host: 'example',
                '@rid': $scope.post['@rid']
            }
        };
        $http.post('api/rs', $scope.upvoteContent)
            .success(function (result, status, headers, config) {
                console.log("Upvote result:", result);
                $scope.canUserDownVote = true;
                $scope.canUserUpvote = false;
            })
            .error(function (result, status, headers, config) {
                console.log("Upvote error:", result);
            })
    };

    $scope.canUserDownVote = true;
    $scope.downvote = function () {
        $scope.downvoteContent = {
            category: 'post',
            name: 'downPost',
            readOnly: false,
            data: {
                host: 'example',
                '@rid': $scope.post['@rid']
            }
        };
        $http.post('api/rs', $scope.downvoteContent)
            .success(function (result, status, headers, config) {
                console.log("Downvote result:", result);
                $scope.canUserDownVote = false;
                $scope.canUserUpvote = true;
            })
            .error(function (result, status, headers, config) {
                console.log("Downvote error:", result);
            })
    };

}]);
</script>
<div class="container" data-ng-controller="BlogPostCtrl">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <h1>{{post.title}}</h1>
                <h2 class="subheading">{{post.summary}}</h2>
                <span class="meta">Posted by <user id="{{post.in_Create[0].userId}}"></user> on {{post.createDate}}</span>
            </div>
        </div>
    </div>
    <br />
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">{{post.content}}</div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="pager" style="float:left;">
                        <li class="next">
                            <button class="btn btn-default" ng-click="goBack()"><i class="fa fa-arrow-left" style="padding-right:5px;"></i> Go Back</button>
                        </li>
                    </ul>
                    <div class="vote" style="right:8px; bottom:0px; position:absolute;">
                        What'd you think?
                        <button class="btn btn-success" ng-click="upvote()" ng-disabled="!canUserUpvote" style="margin-left: 5px;">
                            <i class="fa fa-thumbs-o-up fa-lg"></i>
                        </button>
                        <button class="btn btn-danger" ng-click="downvote()" ng-disabled="!canUserDownVote">
                            <i class="fa fa-thumbs-o-down fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </article>

</div>
