<link rel="stylesheet" href="bower_components/semantic-ui-grid/grid.min.css" />
<link rel="stylesheet" href="bower_components/semantic-ui-card/card.min.css" />
<script type='text/javascript'>
'use strict';
angular.module('lightApp').controller('BlogCtrl', ['$scope', '$http', '$location', '$filter', 'toaster', 'modelDataService', function ($scope, $http, $location, $filter, toaster, modelDataService) {
    $scope.currentPage = 1;
    $scope.itemsPerPage = 9;
    $scope.blogs = [];

    $scope.goToBlog = function(blogId) {
        $location.path("/page/com-networknt-light-v-blog-home/" + blogId);
    };

    $scope.$watch('currentPage', function() {
        var begin = ($scope.currentPage - 1) * $scope.itemsPerPage;
        var end = begin + $scope.itemsPerPage;

        $scope.paged = {
            blogs: $scope.blogs.slice(begin, end)
        }
    });

    $scope.getBlogTree = {
        category : "blog",
        name : "getBlogTree",
        readOnly: true,
        data: {
            host: "example"
        }
    };

    $scope.fetchResult = function () {
        $http.post('api/rs', $scope.getBlogTree)
            .success(function (result, status, headers, config) {
                console.log("blogs returned:", result);
                $scope.blogs = result;
                $scope.paged = {
                    blogs: result.slice(0,  $scope.itemsPerPage)
                };
            })
    };
    $scope.fetchResult();
}]);
</script>
<div class="container" data-ng-controller="BlogCtrl">
    <div class="row">
        <div class="col-md-4 col-lg-4 component-header-left">
            <h1><a href="/">Blog Component</a></h1>
        </div>
        <div class="col-md-3 col-lg-3 component-header-right">
            <span>
                <span class="glyphicon glyphicon-search forum-header-search-icon"></span><input ng-model="pattern" placeholder="Search"/>
            </span>
        </div>
    </div>
    <br />
    <div class="ui stackable page grid" style="margin-left: 0px; padding-left: 0px; border-left: 0px;">
        <div class="five wide column" data-ng-repeat="blog in paged.blogs | filter:pattern">
            <div class="ui card">
                <div class="content">
                    <a class="header" style="font-size: 20px;" href="/page/com-networknt-light-v-blog-view/{{blog.blogId}}">{{blog.blogId}}</a>
                    <div class="meta" style="font-size: 15px;">
                        <span class="date">{{blog.createDate| calendar}}</span>
                    </div>
                    <div class="description" style="font-size: 18px;word-wrap: break-word;">
                        {{blog.description}}
                    </div>
                </div>
                <div class="extra content" style="font-size: 15px;">
                    <a>
                        <i class="user icon"></i>
                        x Posts
                    </a>
                </div>
            </div>
            <!--
            <div class="blogPanel panel panel-default">
                <div class="panel-heading">
                    {{blog.blogId}}
                </div>
                <div class="panel-body" style="min-height:100px; max-height: 101px; border-style: ridge; border-width: 2px;">
                    {{blog.description}}
                </div>
            </div>
            -->
        </div>
    </div>
    <pagination ng-model="currentPage" total-items="(blogs | filter:pattern).length" items-per-page="itemsPerPage" style="float:left;"></pagination>
</div>
