<script type='text/javascript'>
'use strict';
angular.module('lightApp').controller('BlogCtrl', ['$scope', '$filter', 'toaster', 'modelDataService', 'bfnBackend', 'blogRouting', function ($scope, $filter, toaster, modelDataService, bfnBackend, blogRouting) {
    if (modelDataService.getModelData() == null) {
        blogRouting.blogHome();
    }
    $scope.itemsPerPage = 5;

    $scope.initPage = function (blog) {
        $scope.blog = blog;
        $scope.blogRid = $scope.blog["@rid"];
        $scope.blogPosts = [];
        $scope.currentPageNumber = 1;
        $scope.allowPost = false;
        $scope.total = 0;
        $scope.fetchPosts();
    };

    // Triggered when a user clicks on a post.
    $scope.goToBlogPost = function(post) {
        blogRouting.blogPost($scope.blog, post.rid);
    };

    // Triggered when a user clicks on a blog category in the right sidebar.
    $scope.goToBlog = function(blog) {
        console.log('goToBlog blog = ', blog);
        $scope.initPage(blog);
    };

    // Used to fetch posts from the database.
    $scope.fetchPosts = function () {
        bfnBackend.getPosts("blog", "example", $scope.blogRid, $scope.currentPageNumber, $scope.itemsPerPage, "desc", "createDate").then(function (result) {
            $scope.blogPosts = result.data.posts;
            console.log("posts:", JSON.stringify(result.data.posts));
            $scope.allowPost = result.data.allowPost;
            $scope.total = result.data.total;
        });
    };

    // Routes the user to the post editor to add a post.
    $scope.addPost = function () {
        blogRouting.addPost($scope.blog);
    };

    // Routes the user back to the blog home page.
    $scope.goToBlogHome = function () {
        blogRouting.blogHome();
    };

    // Initialize the page & fetch posts.
    $scope.initPage(modelDataService.getModelData().blog);
}]);
</script>
<div class="container" data-ng-controller="BlogCtrl">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    Network NT Official Blogs
                </h1>
                <p>
                    Learn more about the Light Framework.
                </p>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-6 col-sm-6 col-md-6 column text-left">
            <ol class="breadcrumb" style="background-color:white; padding-left:0px;">
                <li><a href ng-click="goToBlogHome()" style="text-decoration:none;">Blogs</a></li>
                <li class="active">{{blog.blogId}}</li>
            </ol>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 column text-right">
            <input ng-model="pattern" placeholder=" &#xE003; Search Posts" style="font-family: Helvetica, Glyphicons Halflings;"/>
        </div>
    </div>
    <div class="row clearfix">
        <div ng-class="blog.out_Own.length > 0 ? 'col-xs-10 col-sm-10 col-md-10' : 'col-xs-12 col-sm-12 col-md-12'">
            <div class="panel panel-default" style="box-shadow:0 0 0;">
                <div class="panel-body" style="padding:0px;">
                    <div class="row clearfix post-preview" ng-repeat="post in blogPosts | filter:pattern">
                        <div class="col-md-8">
                            <a href ng-click="goToBlogPost({{post}})">
                                <h2 class="post-title">{{post.title}}</h2>
                            </a>
                            <p class="post-meta">Posted by {{post.createUserId}} {{post.createDate | calendar}}</p>
                        </div>
                        <div class="col-md-4">
                            <div class="text-right">
                                <div class="btn-group">
                                    <button class="btn btn-success" disabled="disabled" style="opacity:1; margin:0px;">
                                        <span class="badge">{{post.in_UpVote.length || 0}}</span>
                                    </button>
                                    <button class="btn btn-danger" disabled="disabled" style="opacity:1; margin:0px;">
                                        <span class="badge">{{post.in_DownVote.length || 0}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>

                    <div class="post-preview" ng-if="blogPosts == null || blogPosts.length == 0">
                        <div>
                            <h2 class="post-title">Shoot! Looks like we don't have any posts in this blog...</h2>
                            <h3 class="post-subtitle">Can someone help us make days longer?</h3>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="display:flex; align-items:center;">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="text-center">
                            <pagination ng-model="currentPageNumber" total-items="total" items-per-page="itemsPerPage" ng-change="fetchPosts()"></pagination>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center" ng-if="allowPost" >
                            <button class="btn btn-info pull-right" ng-click="addPost()"><span class="glyphicon glyphicon-plus" style="padding-right:5px"></span>Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2" ng-if="blog.out_Own.length > 0">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Sub Categories
                </div>
                <div class="panel-body">
                    <li data-ng-repeat="subBlog in blog.out_Own">
                        <a ng-click="goToBlog(subBlog)">{{subBlog.blogId}}</a>
                    </li>
                </div>
            </div>
        </div>
    </div>

</div>
