<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>User Component</title>
		<link href="dist/bundle.css" rel="stylesheet" />
	</head>
	<body>
	<h1>
		The following is rendered by react...
	</h1>
	<div id="content"></div>
	<h1>
		And the following is the same code in place...
	</h1>
	<div>
		<div class="ui vertical segment">
			<div class="ui vertical segment">
				<div class="ui centered page grid">
					<div class="row">
						<h1>Network NT User Example</h1>
					</div>
				</div>
			</div>
			<div class="ui vertical segment">
				<div class="ui centered page grid">
					<div class="row">
						The following is an example rendering of how a user would appear inline to text referencing this user.
					</div>
					<div class="row">
						This is some text where we reference the user with id = testuser.
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="dist/bundle.js"></script>
	</body>
</html>
