.blogRoot {
  margin: 0;
  background-color: #EFEFEF;
  padding: 20px;
  width: 100%;
  display: flex;
}

.blogPostsRoot {
  padding-bottom: 20px;
  margin: 0;
  width:100%;
  display: flex;
  flex-direction: row;
  //overflow: hidden;

  background-color: purple;

  .blogPostsPaper {
    margin-top: 2 * $blogPostSpacing;
    margin-bottom: $blogPostSpacing;
    padding: 10px;

    .blogPost {
      margin-top: 0;
      padding: 10px;
    }
    .strongDate {
      font-size: 32px;
      font-weight: 700;
      font-family: Lato serif;
      color: black;
    }
    .title {
      font-size: 2 * $blogPostContentText;
      font-weight: $font-weight-light;
      line-height: 72px;
      font-family: Lato serif;
      color: $colors-green400;
    }
    .year {
      font-size: $blogPostContentText;
      font-weight: $font-weight-light;
      font-family: Lato serif;
      color: black
    }
    .content {
      font-size: $blogPostContentText;
      font-weight: $font-weight-light;
      line-height: 40px;
      font-family: Lato serif;
    }
  }

  hr {
    color: rgba(13, 16, 14, 0.1);
    width: 70%;
    left: 0px;
    position: absolute;
  }
}

.blogPostsleftColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: rgba(23,235,252, 0.3);
  max-width: 70%;
}

.blogPostRightColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-color: pink;
}